PATH=/usr/local/bin:/bin:/usr/bin
MAILTO=""

*/1 * * * * www-data /usr/local/bin/php /var/www/bin/magento cron:run
*/1 * * * * www-data /usr/local/bin/php /var/www/update/cron.php
*/1 * * * * www-data /usr/local/bin/php /var/www/bin/magento setup:cron:run

