server {
    listen 80 default_server reuseport;

    {% if NGINX_SSL != 'Off' %}
    listen 443 default_server ssl http2 reuseport;
    ssl_certificate /etc/ssl/certs/ssl-cert.pem;
    ssl_certificate_key /etc/ssl/private/ssl-cert.key;
    ssl_trusted_certificate /etc/ssl/certs/ssl-chain.pem;
    {% if NGINX_SSL == 'High' %}
    ssl_protocols TLSv1.1 TLSv1.2;
    {% endif %}
    {% endif %}
    {% if NGINX_HSTS == 'On' %}
    add_header Strict-Transport-Security max-age=15768000;

    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }
    {% endif %}

    set $MAGE_ROOT /var/www;
    set $MAGE_MODE {{ MAGE_MODE }};

    include magento_*.conf;
    include security.conf;
}

upstream fastcgi_backend {
    server 127.0.0.1:9000;
}
